
#heading{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.division{
    background-color: aqua;
    text-align: justify;
    margin: 20px;
    padding: 20px;
    border: 50px;
    border-radius: 10px;
    border-color: rgb(23, 10, 143);
}
.paragragh-heading{
    text-align: center;
    color: blueviolet;
}
.author{
    color: red;
}
   